pyarrow>=12.0.0,<15.0.0
datasets>=2.0.0,<3.0.0

streamlit>=1.25.0
pypdf
python-docx
pandas
streamlit-tree-select
streamlit-tree-selector
crewai
transformers
torch
datasets
scikit-learn
joblib
tqdm
kaggle
selenium
webdriver-manager
requests
